[2014-08-20 07:19] yegor256 opened #1 "skin 1.4"

[2014-08-20 07:37] #1 closed, assigned to nobody

[2014-09-11 02:58] carlosmiranda opened #2 "jcabi-ssl-maven-plugin doesn't work when building on Rultor or Travis"
I'm trying to enable a SSL-related unit test in the S3Auth project (see https://github.com/yegor256/s3auth/pull/194). I incorporated `jcabi-ssl-maven-plugin` in the Maven build, and the unit test passes just fine on my machine. However, the build fails on Rultor. See for example, the following log excerpt (from http://www.rultor.com/t/529-49795456):

[code]

If it helps, this is my machine's `mvn

[2014-12-26 13:19] dpisarenko opened #3 "s3auth build takes a lot of time (seems to hang)"
When I try to run `mvn clean install -Pqulice` in s3auth, I get lots of warnings like `takes mor
e than 1min, 14min already` and nothing seems to happen.

Here's the output:

[code]

I'm using Maven 3.2.2:

[code]

As stated in https://github.com/yegor256/s3auth/issues/234 , this is a bug in jcabi-ssl-maven-plugin.

How can I fix this error (make `mvn clean install -Pqulice` actually build s3auth

[2014-12-27 11:47] dpisarenko opened #4 "jcabi-ssl-maven-plugin build fails with 3 test errors"
When I run `mvn clean install -Pqulice` the build of `jcabi-ssl-maven-plugin` fails due to errors in tests:

[code]

Please make sure that it is possible to build `jcabi-ssl-maven-plugin` using `mvn clean install -Pqulice`.

[2014-12-27 23:10] mentiflectax opened #6 "Typo in Keytool.imprt"
`com.jcabi.ssl.maven.plugin.Keytool#imprt` should be renamed to `import`.

[2014-12-27 23:25] dpisarenko opened #7 "XML validation exception: missing schema in \src\it\settings.xml"
When I run `mvn qulice:check -Pqulice`, I get the error message `XML validation exception: missing schema in \src\it\settings.xml`.

Full output:

[code]

Please fix this problem by either adding a schema to `src/it/settings.xml` or excluding it from XML validation.

[2014-12-28 11:09] wentwog opened #8 "we should set truststore's path and pwd to maven project properties. As we do with keystore."
If we don't then the truststore created upon the plugin execution will not be used if we initialize our truststore as described [here] (http://docs.oracle.com/javase/8/docs/technotes/guides/security/jsse/JSSERefGuide.html#CustomizingStores).

And this method of truststore initialization is the one we use in tests, for example.

This issue need to be fixed in order for [other](https://github.com/ye

[2014-12-28 12:00] #6 closed, assigned to nobody

[2014-12-28 12:09] wentwog opened #10 "com.jcabi.ssl.maven.plugin.KeytoolTest fails"
see the [log](https://s3.amazonaws.com/archive.travis-ci.org/jobs/45272307/log.txt).
[code]
And this is despite
[code]

The test passes locally for me.

[2015-01-01 07:11] dmarkov commented on #4
@dpisarenko thanks for reporting! I topped your account for 15 mins, transaction 49702157

[2015-01-01 10:36] dmarkov commented on #7
@dpisarenko thanks a lot for reporting, **15 mins** added to your acc, pmt ID `49703690`

[2015-01-01 13:16] dmarkov commented on #8
@wentwog thank you for reporting this, I added 15 mins to your acc, transaction `49704922`

[2015-01-02 11:42] dpisarenko opened #11 "Implement support for languages other than German and English in com.jcabi.ssl.maven.plugin.Keytool#createLocaleDependentYes"
See `com.jcabi.ssl.maven.plugin.Keytool#createLocaleDependentYes`:
[code]

[2015-01-03 15:50] dpisarenko opened #12 "How to get to know the latest release version?"
Please add information on how I can get to know the latest release version of jcabi-ssl-maven-plugin.

For example, the bugfix for issue https://github.com/jcabi/jcabi-ssl-maven-plugin/issues/4 was merged. Now I want to know what version I have to write in `pom.xml` of as s3auth proect, which uses jcabi-ssl-maven-plugin in order for that bugfix to be present in s3auth build.

One solution: Provide

[2015-01-04 08:38] yegor256 commented on #12
Here it is: https://github.com/jcabi/jcabi-ssl-maven-plugin/releases (all Github projects have this list in the same place, no need to explain it additionally in README).

[2015-01-04 08:38] #12 closed

[2015-01-04 08:38] yegor256 commented on #12
@dpisarenko every time you want a new version to be released, ask me right in the ticket. I will release.

[2015-01-04 12:41] palyuga commented on #7
@dpisarenko looks like you've already fix the problem in PR #5
@dmarkov we can close this issue

[2015-01-04 12:53] palyuga opened #13 "NoClassDefFoundError: com/sun/mirror/apt/AnnotationProcessorFactory when trying to build with JDK 8"
There is a problem when I try to build it using JDK 1.8.0 u25

The full build message:

[code]

[2015-01-04 15:23] yegor256 commented on #7
@palyuga please ask @dpisarenko to close, he is the reporter

[2015-01-04 15:26] palyuga commented on #7
@dpisarenko close this, please

[2015-01-05 11:17] dmarkov commented on #13
this task will get someone's attention soon

[2015-01-05 11:20] dmarkov commented on #13
@oruam85 it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-01-05 11:21] dmarkov commented on #13
@palyuga many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `49762611`

[2015-01-06 19:58] wentwog opened #14 "mvn clean install -Pqulice fails with qulice errors"
[code]

[2015-01-06 20:41] yegor256 commented on #14
hm.. how come it builds correctly in appveyor, on Windows: https://ci.appveyor.com/project/yegor256/jcabi-ssl-maven-plugin/branch/master

@wentwog are you sure you're building a clean clone?

[2015-01-07 07:23] wentwog commented on #14
@yegor256 yes there was issue in my git conf, should use
[code]

We can close the issue

[2015-01-07 07:23] #14 closed

[2015-01-07 17:20] wentwog commented on #8
@dmarkov PL is merged.
Can I have additional 30m in this task since additional time have been required to implemented unit test we had discussed with @yegor256.

[2015-01-07 17:30] yegor256 commented on #8
@wentwog if you think that the problem is solved, close the issue. You're the reporter, so you have to close it. Regarding the time, we don't do it like this. The budget is fixed and we don't extend it. Since you're just starting, we'll make an exception. In the future, keep in mind that all tasks are fixed-cost and never increase their budgets.

[2015-01-07 17:30] yegor256 commented on #8
@dmarkov please add extra 30 mins to @wentwog

[2015-01-07 17:32] #8 closed

[2015-01-07 20:56] wentwog opened #15 "Other project needs updated version of jcabi-ssl-maven-plugin"
yegor256/s3auth#191 needs updates intoduced in jcabi-ssl-maven-plugin by #8.
1) We do this through snapshot or release ?
2) How to issue a snapshot or a release ?

[2015-01-07 21:13] yegor256 commented on #8
@rultor release, tag is `0.10`

[2015-01-07 21:14] rultor commented on #8
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1505-69093101)

[2015-01-07 21:14] yegor256 commented on #15
0.10 will be released in #8, in a few minutes.

[2015-01-07 21:14] #15 closed

[2015-01-07 21:14] yegor256 commented on #15
@wentwog every time you need a new release, ask for it in the ticket that introduced a change

[2015-01-07 21:23] rultor commented on #8
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/1505-69093101) (spent 9min)

[2015-01-07 21:39] yegor256 commented on #8
@rultor release, tag is `0.10`

[2015-01-07 21:40] rultor commented on #8
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1505-69096896)

[2015-01-07 21:48] rultor commented on #8
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1505-69096896) (took me 8min)

[2015-01-08 11:22] dmarkov commented on #8
@yegor256 I've sent 30 mins extra to @wentwog in transaction ID "49978477"

[2015-01-08 11:22] dmarkov opened #16 "Keytool.java:172-175: Currently, the implementation below recognizes..."
Puzzle `11-721ca2c9` in `src/main/java/com/jcabi/ssl/maven/plugin/Keytool.java:172-175` has to be resolved: Currently, the implementation below recognizes only German and English locales. It should be extended so that other locales (e. g. Spanish) is supported as well. If a particular locale is not supported, the user should get a hint about that.

If you have any technical questions, don't ask me

[2015-01-08 11:25] dmarkov commented on #2
@cyberone you're holding this ticket for 13 days already. If it's not finished (and closed) in the next 16 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -30 added to your rating, current score is: [-220](http://www.netbout.com/b/35076?open=rating)

[2015-01-08 11:25] dmarkov commented on #16
@palyuga this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-01-08 11:37] wentwog opened #17 "KeygenMojo.execute():121. We should call truststore.populate() outside of the surrounding if"
Cos we need to populate mvn props always, not only when keystore is inactive.

[2015-01-08 16:32] maurezen opened #19 "Copyright section is outdated"
Copyright sections still feature 2013 as a year.

[2015-01-09 10:58] dmarkov commented on #2
@cyberone it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

-60 added to your rating, at the moment it is: [-430](http://www.netbout.com/b/35076?open=rating)

[2015-01-09 14:27] palyuga commented on #16
@dmarkov pull request is merged, so we can close this issue

[2015-01-09 20:07] oruam85 commented on #13
@dmarkov can you find somebody else for this bug?

[2015-01-12 19:37] pandreev commented on #4
@dmarkov please assign to someone else

[2015-01-13 08:21] dmarkov commented on #17
I'll find a developer for the task soon...

[2015-01-13 08:21] dmarkov commented on #4
@pandreev no problem, I'll try to find somebody else

[2015-01-13 08:22] dmarkov commented on #13
@oruam85 I will assign somebody else to this issue

[2015-01-14 13:24] dmarkov commented on #2
@aoxa please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-01-14 13:24] dmarkov commented on #8
@wentwog Much obliged! I've added **30 mins** to your account in payment "50259067". +30 added to your rating, current score is: [+65](http://www.netbout.com/b/35104?open=rating)

[2015-01-14 13:24] dmarkov commented on #10
@flexelem you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; -60 added to your rating, at the moment it is: -245

[2015-01-14 13:24] dmarkov commented on #17
@romankisilenko please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have. **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actuall

[2015-01-14 13:27] dmarkov commented on #17
@wentwog thanks for the report, I topped your acc for 15 mins, payment ID `50259212`

[2015-01-14 23:09] AlexDag commented on #3
@dmarkov , I'm starting this job.thanks

[2015-01-14 23:44] AlexDag opened #20 "s3auth build takes a lot of time (seems to hang) #3 - it is not bug"
I've tried  three(3)times as "mvn clean install -Pqulice".
The process duration had  from 57sec to 1 min.
I see that the person of bug report used Windows OS.
And procBuilder from Keytool.java run as "%s/bin/keytool" as linux OS process.

thanks

[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] ---------------------------------------------

[2015-01-16 12:43] #16 closed

[2015-01-16 12:43] dmarkov commented on #16
Closed, done, thanks all

[2015-01-16 12:46] dmarkov commented on #3
@alexdag it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. -60 added to your rating, current score is: [-180](http://www.netbout.com/b/35099?open=rating)

[2015-01-16 12:46] dmarkov commented on #4
@maurezen please proceed, it's yours

[2015-01-16 12:46] dmarkov commented on #13
@wentwog it's yours, please go ahead

[2015-01-16 12:46] dmarkov commented on #16
@palyuga Thanks so much! Your account was topped up for **30 mins** (transaction ID is `50302645`); +30 to your rating, your total score is +135

[2015-01-16 14:09] AlexDag commented on #3
@dmarkov two days ago I created issue about this task - https://github.com/jcabi/jcabi-ssl-maven-plugin/issues/20

[2015-01-16 14:27] AlexDag opened #21 "#3 s3auth build takes a lot of time (seems to hang) #3 - it is not bug #20"
I've tried three(3)times as "mvn clean install -Pqulice".
The process duration had from 57sec to 1 min.
I see that the person of bug report used Windows OS.
And procBuilder from Keytool.java run as "%s/bin/keytool" as linux OS process.

thanks

[INFO] ------------------------------------------------------------------------
[INFO] BUILD SUCCESS
[INFO] -----------------------------------------------

[2015-01-17 17:36] RomanKisilenko opened #23 "Maven build fails on JDK8"
Build logs attached.

[code]

[2015-01-20 07:14] dmarkov commented on #7
@palyuga just a reminder that you're working with this task for 19 days already... -30 added to your rating, at the moment it is: +150

[2015-01-20 07:14] dmarkov commented on #10
@jenya this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here

Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-01-20 09:33] palyuga commented on #7
@dpisarenko ping. Let's close this as you have fixed the issue in PR #5

[2015-01-20 09:34] #7 closed

[2015-01-20 10:00] yegor256 commented on #20
@AlexDag how can I reproduce this issue? I didn't get exactly what is happening and where

[2015-01-20 11:02] dmarkov commented on #3
@oruam85 the task is yours, go ahead

[2015-01-20 20:18] AlexDag commented on #20
@yegor256  it's from https://github.com/jcabi/jcabi-ssl-maven-plugin/issues/3

[2015-01-20 23:25] maurezen commented on #4
@dmarkov @yegor256 please assign another developer to this task.

[2015-01-21 10:40] yegor256 commented on #4
@dmarkov give this to someone else pls

[2015-01-21 13:27] dmarkov commented on #4
@yegor256 all right, we'll find someone else for this task

[2015-01-21 13:30] dmarkov commented on #7
@palyuga Much appreciated! **30 mins** was added to your account, payment ID `50573642`. +30 added to your rating, current score is: +150

[2015-01-21 13:30] dmarkov commented on #10
@dpisarenko it's yours, please go ahead

[2015-01-21 19:50] dpisarenko commented on #10
@dmarkov I can't reproduce this error on my machine, please give the task to someone else.

[2015-01-21 22:56] maurezen opened #24 "Qulice configuration - no license specified."
1. Checkout master branch
2. run `mvn qulice:check -Pqulice`
3. There are multiple `Line does not match expected header line of ' * BSD License'. (HeaderCheck)` messages.

This is a known bug of qulice configuration in parent-0.31 (jcabi/jcabi-parent#19), accessed via jcabi-0.16. Suggested action is waiting until jcabi/jcabi#297 fix is released and upgrading jcabi version.

[2015-01-22 01:22] oruam85 commented on #3
@dmarkov @AlexDag i can not reproduce this bug because i dont have Win OS. In Linux works fine.

@dmarkov Please find somebody else for this bug.

[2015-01-22 11:39] dmarkov commented on #10
@dpisarenko right, I'll try to find someone else for this task

[2015-01-22 11:39] dmarkov commented on #3
@oruam85 all right, we'll find someone else for this task

[2015-01-22 20:18] wentwog commented on #13
@palyuga unfortunately, we use [Jfrog Anno Mojo maven plugin](http://www.jfrog.com/confluence/display/OSS/Maven+Anno+Mojo) and its not ready to Java8.

Since it relies on Java Annotation Processing Tool (apt). And it is was deprecated in Java 7 and [removed in Java 8](http://openjdk.java.net/jeps/117).

So, we can
1) stick to Java7
2) get rid of Jfrog plugin and use normal maven xdoclet annotation

[2015-01-23 11:10] palyuga commented on #13
@wentwog It looks like a strategic decision. Let's ask what @yegor256 thinks about it.

[2015-01-23 14:08] yegor256 commented on #13
@wentwog I like the second option too

[2015-01-23 14:33] wentwog commented on #13
@yegor256 great
@palyuga I think that the issue investigation is done and suggest to close this ticket as done.
And I will open another one, as a puzzle, to implement the 2nd option.
Do you agree?

[2015-01-23 15:26] palyuga commented on #13
@wentwog ok, put a link to the issue here for people who may face the same problem with JDK8, so they can see If the problem is already resolved or being resolved, and this issue will be closed.

[2015-01-23 16:05] wentwog opened #25 "Cease to use Jfrog Anno Mojo maven plugin and use normal maven xdoclet annotations"
jcabi-ssl-maven-plugin can't be built with Java 8, because we use Jfrog Anno Mojo maven plugin, and it's not ready for Java8 (for details see #13).
It is [decided](https://github.com/jcabi/jcabi-ssl-maven-plugin/issues/13#issuecomment-71197569) to get rid of Jfrog Anno Mojo maven plugin and use normal maven xdoclet annotations.

(Jfrog Anno Mojo allows to use Java5-style annotations instead of wri

[2015-01-23 16:07] wentwog commented on #13
Ok, the implementation will be done in #25.

@palyuga could you close this one?

[2015-01-23 16:18] palyuga commented on #13
@wentwog sure, thanks

[2015-01-23 16:18] #13 closed

[2015-01-24 00:36] AlexDag commented on #3
@dmarkov @oruam85  - are  there  any reason to try to test this issue above Win OS? Please, look at my comment, s3auth project try to use keytool from fixed Linux path, as "%/bin/keytool".This path is hardcoded.

[2015-01-26 11:06] dmarkov commented on #25
we'll find someone to do this task, soon

[2015-01-26 11:09] dmarkov commented on #25
@wentwog thanks for tis bug, I topped your account for 15 mins, transaction `50663952`

[2015-01-27 11:23] dmarkov commented on #4
@apocarteres the issue is yours, please help

[2015-01-27 11:23] dmarkov commented on #13
@wentwog thank you, added **30 mins** to your acc, payment num is `50842165`. +30 added to your rating, current score is: [+155](http://www.netbout.com/b/35104?open=rating)

[2015-01-27 11:42] apocarteres opened #26 "Build fails under Windows with Caused by: java.net.URISyntaxException: Illegal character in path at index 19"
<pre>
[INFO] [WARNING] The requested profile "qulice" could not be activated because it does not exist.
[INFO] run script verify.groovy
[INFO] Running post-build script: Z:\jcabi-ssl-maven-plugin\target\it\end-to-end\verify.groovy
[INFO] Finished post-build script: Z:\jcabi-ssl-maven-plugin\target\it\end-to-end\verify.groovy
[INFO] ..SUCCESS (6.7 s)
[INFO] -----------------------------------------

[2015-01-28 08:47] apocarteres commented on #4
@dpisarenko is anything else needed to be done under this issue? It seems that everything woks correct now for Windows / Linux with German/Russian locales. Could you confirm?

[2015-01-28 10:54] dmarkov commented on #2
@aoxa the ticket is with you for 15 days already. If it's not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. added -30 to your rating, now it is equal to -90

[2015-01-28 11:39] dmarkov commented on #17
@romankisilenko just a reminder that you're working with this task for 15 days already. -30 added to your rating, at the moment it is: +360

[2015-01-28 11:50] dpisarenko opened #27 "java.lang.NoClassDefFoundError: com/sun/mirror/apt/AnnotationProcessorFactory"
**Steps to reproduce:**
  1. `git pull origin master`
  1. `mvn clean install -Pqulice`

**Result**
[code]
**Environment:**
[code]

[2015-01-28 11:50] dpisarenko commented on #4
@apocarteres The tests above don't fail any more, but we have another problem - see https://github.com/jcabi/jcabi-ssl-maven-plugin/issues/27 .

[2015-01-28 11:50] #4 closed

[2015-01-30 08:36] dmarkov commented on #4
@apocarteres paid, thanks, added **30 mins** to your account, payment `50954672`; +30 to your rating, your total score is [+120](http://www.netbout.com/b/35111?open=rating)

[2015-02-01 12:10] RomanKisilenko commented on #17
@wentwog Please close this issue, the PR is already reviewed and closed some time ago.

[2015-02-01 12:31] wentwog commented on #17
@RomanKisilenko could you please point me to the PR by referencing its number here?

[2015-02-01 12:41] RomanKisilenko commented on #17
@wentwog https://github.com/jcabi/jcabi-ssl-maven-plugin/pull/22

[2015-02-01 13:41] #17 closed

[2015-02-01 13:44] wentwog commented on #17
@dmarkov or @yegor256 please, make a release.

[2015-02-01 15:13] yegor256 commented on #17
@rultor release, tag is `0.11`

[2015-02-01 15:14] rultor commented on #17
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/1840-72368572)

[2015-02-01 15:26] rultor commented on #17
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/1840-72368572) (took me 12min)

[2015-02-06 07:23] dmarkov commented on #2
@aoxa the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html). added -60 to your rating, now it is equal to -570

[2015-02-06 07:23] dmarkov commented on #17
@romankisilenko thanks, I just added **30 mins** to your account, payment `51288039`... added +30 to your rating, now it is equal to +390

[2015-02-16 08:46] dmarkov commented on #11
the last puzzle `11-721ca2c9`/#16 originated from here solved

[2015-02-23 08:40] dmarkov commented on #3
@adko-pl the task is yours, go ahead

[2015-03-07 19:03] adko-pl commented on #3
@dmarkov please find another developer

[2015-04-07 07:49] dmarkov opened #28 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 08:59] dmarkov opened #29 "0.12"
Please, publish a new release **0.12** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 13:06] dmarkov opened #30 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-05-12 07:26] dmarkov commented on #29
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-14 07:34] dmarkov commented on #29
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-18 05:23] yegor256 commented on #3
@dmarkov assign someone else here pls

[2015-05-18 07:40] dmarkov commented on #3
@yegor256 -30 points to your rating :(

[2015-05-18 07:40] dmarkov commented on #3
@yegor256 someone else will help in this task, no problem at all

[2015-05-29 09:12] dmarkov commented on #28
@marcuss please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-06-01 07:27] dmarkov commented on #30
@yegor256 Thanks, closing it now.

[2015-06-01 07:27] #30 closed

[2015-06-04 08:12] dmarkov commented on #28
@yegor256 Thanks, closing it now.

[2015-06-04 08:12] #28 closed

[2015-06-04 08:12] dmarkov commented on #29
@yegor256 Done, thanks all, closing..

[2015-06-04 08:12] #29 closed

[2015-06-04 08:12] dmarkov commented on #28
@marcuss I haven't seen any msgs from you, won't pay (correct me if I'm wrong)

[2015-06-09 08:41] dmarkov commented on #3
@suseika could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-06-10 10:49] YamStranger opened #31 "Build failed on windows with lots of EOL violations"
@dmarkov Looks like we need to add .gitattributes to force EOL of the repo.

[2015-06-12 16:35] Suseika commented on #27
I'm experiencing the same problem. Here is the solution: [java.lang.NoClassDefFoundError: com/sun/mirror/apt/AnnotationProcessorFactory when execute Enunciate ant task](http://stackoverflow.com/questions/29402846/java-lang-noclassdeffounderror-com-sun-mirror-apt-annotationprocessorfactory-wh).

Basically, that mojo plugin doesn't work with Java 8 JDK, so you just should use Java 7 JDK and it will

[2015-06-12 22:14] Suseika commented on #3
@dpisarenko I am unable to reproduce the issue. Here is my environment:

[code]

Are you still able to reproduce it? If not, I think this issue should be closed. Otherwise, if your `keytool` hangs, that's probably a misconfiguration of your own environment.

[2015-06-13 00:33] Suseika commented on #3
@dmarkov Please assign someone else for this task.

[2015-06-15 07:54] dmarkov commented on #3
@suseika -30 points to your rating :(

[2015-06-15 07:54] dmarkov commented on #3
@suseika I will try to find someone else

[2015-06-15 07:56] dmarkov commented on #26
@yegor256 please dispatch this issue

[2015-06-15 07:56] dmarkov commented on #27
@yegor256 please pay attention to this issue

[2015-06-15 07:56] dmarkov commented on #31
@yegor256 please pay attention to this issue

[2015-06-15 07:56] dmarkov commented on #19
@yegor256 please pay attention to this issue

[2015-06-15 07:56] dmarkov commented on #21
@yegor256 please pay attention to this issue

[2015-06-15 07:56] dmarkov commented on #23
@yegor256 dispatch this issue please

[2015-06-15 07:56] dmarkov commented on #24
@yegor256 please do something about this issue

[2015-06-16 22:27] YamStranger commented on #31
@yegor256. It is known problem, qulice fail if default system EOF not like in linux. So we need add .attributes to repository for force setting Unix-like end of line to git repository.
AppVeyor use linux like EOF.
This repository will not build successfully if you install git, install maven, clone repo and just build.
Here is some examples of same problem at different repositories:
This is issue s

[2015-06-22 20:13] yegor256 opened #32 "keygen fails on JDK8"
[code]

originally reported in https://github.com/yegor256/s3auth/issues/301

[2015-06-23 08:22] dmarkov commented on #32
@yegor256 I just added bug tag here

[2015-06-23 10:04] dmarkov commented on #32
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-e70cc75d`

[2015-06-23 21:17] yegor256 commented on #19
@maurezen fixed in e524b33 thanks

[2015-06-25 23:56] yegor256 commented on #26
@apocarteres it's passing now on Appveyor.. I believe this problem is gone already

[2015-06-25 23:56] #26 closed

[2015-06-25 23:58] yegor256 commented on #24
@maurezen will fix this right after #25

[2015-06-25 23:59] yegor256 commented on #31
@YamStranger fixed in https://github.com/jcabi/jcabi-ssl-maven-plugin/commit/33c877cbd6980bd43d3bfb8d31cb0af57df939b9 thanks

[2015-06-25 23:59] #31 closed

[2015-06-25 23:59] #19 closed

[2015-06-26 00:04] yegor256 commented on #21
@AlexDag doesn't look like a bug for me, 57s is a reasonable time for a build

[2015-06-26 00:04] #21 closed

[2015-06-26 08:24] dmarkov commented on #2
@suseika it's yours, budget is 30 mins, please go ahead

[2015-06-26 08:24] dmarkov commented on #25
@suseika it's yours, please help

[2015-06-26 08:24] dmarkov commented on #27
@suseika it's your task now

[2015-06-27 12:49] apocarteres commented on #26
@yegor256 ok. thx

[2015-06-28 22:53] Suseika commented on #2
@dmarkov Please assign someone else on this issue

[2015-06-29 09:02] dmarkov commented on #2
@suseika 30 points deducted from your rating

[2015-06-29 09:02] dmarkov commented on #2
@suseika no problem, I will try to find somebody else

[2015-06-30 02:22] yegor256 commented on #20
@AlexDag so it's a duplicate than

[2015-06-30 02:22] #20 closed

[2015-06-30 02:23] yegor256 commented on #24
@maurezen fixed in 6a06aa0 thanks

[2015-06-30 02:23] #24 closed

[2015-06-30 02:24] yegor256 commented on #23
@RomanKisilenko I think it's fixed now, please confirm

[2015-06-30 07:12] dmarkov commented on #25
@rultor rultor closed it by mistake, @wentwog please take a look

[2015-06-30 07:13] dmarkov commented on #10
@suseika it's yours, budget is 30 mins, please go ahead

[2015-06-30 07:13] dmarkov commented on #11
@suseika it's your task now

[2015-06-30 07:13] dmarkov commented on #32
@suseika this task is yours, go ahead

[2015-06-30 09:02] Suseika commented on #27
@dpisarenko I fixed this in #34, please see and close the issue if you're fine with the implementation.

[2015-06-30 09:12] #27 closed

[2015-06-30 09:21] Suseika commented on #27
@dmarkov I'm done here.

[2015-06-30 10:54] Suseika commented on #32
@yegor256 This is going to be fixed with #36. I didn't mean to fix multiple issues in a single PR, these issues just happen to have the same cause.

This is the second time I have to fix multiple dependent issues in a single PR, and I was told that is not fine, what should I do in such situations?

[2015-06-30 12:55] wentwog commented on #25
@Suseika , @dmarkov , looks good, just one comment it the PR, @Suseika, please have a look

[2015-06-30 13:54] #25 closed

[2015-06-30 13:59] Suseika commented on #25
@wentwog Thanks, #37 fixes the wrong parameters mistake.

[2015-06-30 14:01] Suseika commented on #25
@dmarkov I'm done here, issue is closed with #34

[2015-06-30 18:08] yegor256 commented on #32
@Suseika you should try to avoid that, but sometimes it's inevitable

[2015-06-30 18:28] Suseika commented on #10
@dmarkov I'm done here, closed in #35

[2015-06-30 18:30] Suseika commented on #10
@wentwog I fixed this issue, please see #35

[2015-07-01 07:32] dmarkov commented on #10
@rultor @wentwog please take a look, rultor closed it automatically

[2015-07-01 09:28] dmarkov opened #38 "Keytool.java:173-173: In JDK 1.8, there is..."
Puzzle `25-04bb79eb` in `src/main/java/com/jcabi/ssl/maven/plugin/Keytool.java:173-173` has to be resolved: In JDK 1.8, there is no "yes" word in... The puzzle was created by Suseika on 26-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-07-01 09:28] dmarkov commented on #25
@wentwog once `25-04bb79eb`/#38 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-07-01 09:46] Suseika commented on #27
@dmarkov I closed this issue with #34, please send a payment or explain what else needs to be done here.

[2015-07-01 10:32] #10 closed

[2015-07-01 11:19] dmarkov commented on #27
@suseika thanks, I just added **30 mins** to your account, payment `AP-61K49397GX2707227`, 98 hours and 39 mins spent. +30 to your rating, your total score is [+188](http://www.netbout.com/b/35381?open=rating)

[2015-07-02 08:06] dmarkov commented on #25
@suseika thanks, I just added **30 mins** to your account, payment `AP-2U644454M27957102`, 119 hours and 9 mins spent; +30 added to your rating, current score is: [+233](http://www.netbout.com/b/35381?open=rating)

[2015-07-02 12:37] dmarkov commented on #10
@suseika Thank you, I have added **45 mins** to your account in payment/transaction "`AP-9N90026730426194L`", time consumed: 28 hours and 5 mins; m=1685, that's why a bonus here for fast delivery; added +45 to your rating, now it is equal to [+278](http://www.netbout.com/b/35381?open=rating)

[2015-07-03 05:04] Suseika commented on #11
@dpisarenko I fixed this in #36, please see.

[2015-07-03 05:05] Suseika commented on #32
@yegor256 Fixed with #36

[2015-07-03 05:14] Suseika commented on #38
@dmarkov This puzzle was created by a mistake. After I added the todo in a PR, the next issue involved getting rid of the code that caused the behavior described in this todo. So this puzzle is fixed with #36.

[2015-07-03 07:36] dmarkov commented on #11
@rultor @dpisarenko please take a look, rultor closed it automatically

[2015-07-03 15:46] yegor256 commented on #32
@Suseika thanks!

[2015-07-03 15:46] #32 closed

[2015-07-03 15:58] Suseika commented on #32
@dmarkov I'm done here.

[2015-07-06 08:10] dmarkov commented on #38
@yegor256 We are done here, thanks all

[2015-07-06 08:10] #38 closed

[2015-07-06 14:21] Suseika commented on #32
@dmarkov This task is closed, but I still haven't received any payment for it. Please pay.

[2015-07-07 08:30] dmarkov commented on #32
@suseika **30 mins** added to your account (payment number `AP-20J10789G40751114`), many thanks for your contribution! 144 hours and 57 mins spent here.

+30 added to your rating, current score is: [+293](http://www.netbout.com/b/35381?open=rating)

[2015-07-07 09:29] Suseika commented on #11
@dmarkov I need more time here, the author of the issues isn't responding.

[2015-07-07 09:29] Suseika commented on #11
@dpisarenko Please see this issue, it is fixed in #36.

[2015-07-07 09:33] #11 closed

[2015-07-07 09:34] Suseika commented on #11
@dmarkov I'm done here, please pay.

[2015-07-07 12:09] dmarkov commented on #11
@suseika sure, thanks for telling me, take your time

[2015-07-07 12:33] Suseika commented on #11
@dmarkov I don't need the time any more, author just closed the task and I mentioned what PR it was closed with. *Please pay.*

[2015-07-08 11:34] dmarkov commented on #11
@suseika thank you, added **30 mins** to your acc, payment num is `AP-0T0752365L4683907`, 171 hours and 6 mins spent in total to complete

+30 added to your rating, at the moment it is: [+353](http://www.netbout.com/b/35381?open=rating)

[2015-08-05 12:57] dmarkov commented on #25
@wentwog the last puzzle `25-04bb79eb`/#38 solved

[2015-09-30 07:52] dmarkov commented on #3
@prondzyn it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-10-02 11:49] prondzyn commented on #3
@dpisarenko both [yegor256/s3auth](https://github.com/yegor256/s3auth/) and [jcabi/jcabi-ssl-maven-plugin](https://github.com/jcabi/jcabi-ssl-maven-plugin) builds without problems on my machine. Do you still have the problem? My environment is below.

[code]

[2015-10-15 07:19] dmarkov commented on #2
@prondzyn this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-10-15 10:58] dmarkov commented on #3
@prondzyn the task is your hands for the last 15 days.. keep in mind that if it's not closed in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

-30 added to your rating, current score is: [+4

[2015-10-15 11:20] prondzyn commented on #3
@dmarkov please assign someone else as @dpisarenko does not response

[2015-10-16 06:46] prondzyn commented on #2
@carlosmiranda this test does not pass on my machine:

[code]

but you wrote in [194](https://github.com/yegor256/s3auth/pull/194) that it always works when you try to build.

My environment:
[code]

Could you remove the `@Ignore` annotation and try to build the latest version from [yegor256/s3auth](https://github.com/yegor256/s3auth)? Should I prepare a separate issue for this?

[2015-10-16 10:38] dmarkov commented on #3
@prondzyn 30 points deducted from your rating

[2015-10-16 10:39] dmarkov commented on #3
@prondzyn I will assign somebody else to this issue

[2015-10-19 20:37] prondzyn commented on #2
@dmarkov I reported the issue in [yegor256/s3auth/issues/313](https://github.com/yegor256/s3auth/issues/313) as this is blocking my work on current issue.

[2015-10-21 06:53] prondzyn commented on #2
@dmarkov after [conversation](https://github.com/yegor256/s3auth/issues/313) I found that there is already puzzle reported for this in [yegor256/s3auth/issues/290](https://github.com/yegor256/s3auth/issues/290).

So I am blocked by [290](https://github.com/yegor256/s3auth/issues/290).

[2015-10-21 09:34] dmarkov commented on #2
@prondzyn of course, take your time

[2016-01-12 05:05] oruam85 opened #39 "Update the Copyright year"
In the license.txt file the Copyright year should be 2016

[2016-01-18 07:43] dmarkov commented on #39
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-07-04 06:30] prondzyn commented on #2
@dmarkov I'm away now. Maybe you should find someone else for this?

[2016-07-08 09:12] dmarkov commented on #2
@prondzyn deducted 30 from your rating :(

[2016-07-08 09:12] dmarkov commented on #2
@prondzyn no problem, I will try to find somebody else

[2016-08-08 07:26] dmarkov commented on #3
@amihaiemil the task is yours please proceed

[2016-08-08 16:41] amihaiemil commented on #3
@dpisarenko Same as the guys above, I cannot reproduce it.
My sepcs are:

[code]

It's been 1.5 years since you reported this, maybe it was fixed in the meantime. Please check and if it's ok, close this issue.

Thanks,
Mihai

[2016-08-10 06:33] amihaiemil commented on #3
@yegor256 Since I saw the author doesn't answer here, I wrote him an email explaining that neither me and other devs can reproduce the error. I asked him to have a look and close the issue if he cannot reproduce it.

As I expected, he told me he doesn't work for Teamed and doesn't have the software to reproduce the bug anymore and that he cannot help me.

I asked him to close this issue but he did

[2016-08-12 13:40] amihaiemil commented on #3
@dpisarenko can you close this pls?

[2016-08-14 11:03] amihaiemil commented on #3
@dpisarenko ping

[2016-08-18 07:25] amihaiemil commented on #3
@dpisarenko ping

[2016-08-18 07:25] amihaiemil commented on #3
@yegor256 ping

[2016-08-18 12:36] dmarkov commented on #2
@amihaiemil it's your task, go ahead

[2016-08-18 12:45] amihaiemil commented on #3
@dpisarenko ping

[2016-08-18 12:46] amihaiemil commented on #2
@carlosmiranda Is this issue still valid? It's been almost 2 years ago, maybe it was fixed in the meantime?

[2016-08-18 12:56] amihaiemil commented on #2
@carlosmiranda from my understanding the issue will be solved [this](https://github.com/yegor256/s3auth/issues/290) ticket?

[2016-08-19 00:43] carlosmiranda commented on #2
@amihaiemil Actually, it looks like it was fixed in #8, which was applied to S3Auth in https://github.com/yegor256/s3auth/pull/238.

Thanks for looking at it - closing now.

[2016-08-19 00:43] #2 closed

[2016-08-20 16:14] amihaiemil commented on #3
@yegor256 ping

[2016-08-21 15:19] amihaiemil commented on #3
@dmarkov assign someone else

[2016-08-22 08:22] dmarkov commented on #3
@amihaiemil 30 points was deducted from your rating

[2016-08-22 08:22] dmarkov commented on #3
@amihaiemil OK, I will try to assign someone else

[2016-08-22 08:23] dmarkov commented on #2
@amihaiemil thanks, I just added **1 hour** to your account, payment `AP-0JM36599MS278841G`, 19 hours and 48 mins spent... there is a bonus for fast delivery (m=1188)... +60 added to your rating, current score is: [+225](http://www.netbout.com/b/36402?open=rating)

[2017-05-11 08:01] #23 closed

[2017-05-11 08:01] yegor256 commented on #3
@dpisarenko I don't think it's reproducible any more

[2017-05-11 08:02] #3 closed

[2017-05-11 08:02] yegor256 commented on #39
@oruam85 fixed already

[2017-05-11 08:02] #39 closed

[2017-05-11 08:03] yegor256 opened #41 "stable version"

[2017-05-11 08:03] yegor256 commented on #41
@rultor release, tag is `0.12`

[2017-05-11 08:04] rultor commented on #41
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/11651-300713792)

[2017-05-11 08:11] rultor commented on #41
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/11651-300713792) (took me 7min)

[2017-05-11 08:17] #41 closed

[2017-05-11 08:17] 0crat commented on #41
Oops! Job `gh:jcabi/jcabi-ssl-maven-plugin#41` was not in scope

[2022-08-09 03:27] yegor256 opened #45 "fresh release"

[2022-08-09 03:56] yegor256 commented on #45
@rultor release, tag is `0.13`

[2022-08-09 03:56] rultor commented on #45
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26450-1208880778)

[2022-08-09 03:57] rultor commented on #45
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26450-1208880778) (spent 22s)

[code]

[2022-08-09 04:00] yegor256 commented on #45
@rultor release, tag is `0.13.0`

[2022-08-09 04:00] rultor commented on #45
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26450-1208882670)

[2022-08-09 04:15] rultor commented on #45
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26450-1208882670) (took me 14min)

[2022-08-09 04:16] #45 closed

[2022-08-09 04:34] 0crat commented on #45
Job `gh:jcabi/jcabi-ssl-maven-plugin#45` is not assigned, can't get performer

[2022-08-12 04:34] yegor256 opened #48 "refresh"

[2022-08-12 04:38] yegor256 commented on #48
@rultor release, tag is `0.14.0`

[2022-08-12 04:39] rultor commented on #48
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26497-1212722474)

[2022-08-12 04:53] rultor commented on #48
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26497-1212722474) (took me 14min)

[2022-08-12 05:38] #48 closed

[2022-08-12 05:55] 0crat commented on #48
Job `gh:jcabi/jcabi-ssl-maven-plugin#48` is not assigned, can't get performer